name: Build iOS app

on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  test:
    name: Build
    runs-on: macOS-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21
      - name: Set Xcode version
        run: |
          sudo xcode-select -s /Applications/Xcode_16.4.app/Contents/Developer
          xcodebuild -version
          xcodebuild -showsdks
      - name: Setup iOS Simulator
        run: |
          sudo xcodebuild -downloadPlatform iOS
          xcrun simctl list devices available
          xcrun simctl list runtimes
          xcrun simctl shutdown all && xcrun simctl erase all
      - name: iOS debug build
        run: cd iosApp && xcodebuild -scheme iosApp -configuration Debug -destination 'platform=iOS Simulator,OS=latest,name=iPhone 16' CODE_SIGNING_ALLOWED='NO'
